body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #f4f4f4;
}

.header {
    background: #111;
    color: blanchedalmond;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav a {
    color: blanchedalmond;
    margin: 10px;
    text-decoration: none;
}

.header nav a:hover {
    color: cadetblue;
}

.header input {
    padding: 5px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 200px;
    background: #fff;
    padding: 15px;
}

.content {
    flex: 1;
    margin-left: 100px;
}

.featured img {
    width: 100px;
    max-width: 600px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.movie-card {
    background: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.page {
    padding: 20px;
    background: #fff;
    margin: 20px;
}

.footer {
    text-align: center;
    padding: 15px;
    background: local;
    color: antiquewhite;
    margin-top: 20px;
}